<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.sep">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App_Controller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pilihsepActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".sep1Activity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".loginActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".profilActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".cetakActivity"
            android:theme="@style/AppTheme2"
            android:label="Cetak File" />
        <activity android:name=".daftarActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".daftar2Activity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".sep2Activity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".sep3Activity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".sep4Activity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".sep5Activity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".sep6Activity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".sep7Activity"
            android:theme="@style/AppTheme"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".syaratketentuanActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".berkasActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".cetak2Activity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".homeActivity"
            android:fontFamily="@font/fredoka_one"
            android:label="Beranda"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".homesebelumActivity"
            android:fontFamily="@font/fredoka_one"
            android:label="Beranda"
            android:theme="@style/AppTheme" />
    </application>

</manifest>