<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.sep">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:name=".app.App_Controller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginActivity"
            android:theme="@style/AppTheme2"
            android:label="Login" />
        <activity android:name=".profilActivity"
            android:theme="@style/AppTheme2"
            android:label="Profil" />
        <activity
            android:name=".cetakActivity"
            android:theme="@style/AppTheme2"
            android:label="@string/cetak1" />

        <activity android:name=".daftarActivity"
            android:theme="@style/AppTheme2"
            android:label="Daftar" />
        <activity android:name=".daftar2Activity"
            android:theme="@style/AppTheme2"
            android:label="Daftar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".berkasActivity"
              android:theme="@style/AppTheme2"
              android:label="Status" />
        <activity android:name=".cetak2Activity"
            android:theme="@style/AppTheme2"
            android:label="@string/cetak2"    />
        <activity
            android:name=".homeActivity"
            android:label="Beranda"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".homesebelumActivity"
            android:label="Beranda"
            android:theme="@style/AppTheme" />

        <activity android:name=".tentangActivity"
          android:theme="@style/AppTheme2"
          android:label="Tentang" />
        <activity android:name=".syaratketentuanActivity"
            android:theme="@style/AppTheme2"
            android:label="Konfirmasi"/>
    </application>

</manifest>